<ion-header>
  <ion-navbar>
    <ion-title>
      Location Trace
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map">
    <ion-row>
      <ion-col width-50>
        <button ion-button block color="secondary" (click)="startTracking()" *ngIf="!tracking">Start<br>tracking</button>
        <button ion-button block color="danger" (click)="stopTracking()" *ngIf="tracking">Stop<br>tracking</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block color="safron" (click)="calculateDistance()" *ngIf="tracking">Calculate<br>Distance</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50>
        <button ion-button block color="pink" (click)="stopVoiceAlerts()" *ngIf="tracking">Stop Voice<br>Alerts</button>
      </ion-col>
      <ion-col width-50>
        <button ion-button block color="darkpink" (click)="startVoiceAlerts()" *ngIf="tracking">Start Voice<br>Alerts</button>
      </ion-col>
    </ion-row>
    <!-- <ion-fab left top>
      <button ion-fab color="primary"><ion-icon name="map"></ion-icon></button>
      <ion-fab-list side="right">
        <button ion-fab color="secondary"(click)="startTracking()" *ngIf="!tracking"><ion-icon name="navigate-outline" class="fab-button"></ion-icon></button>
        <button ion-fab color="danger" (click)="stopTracking()" *ngIf="tracking"><ion-icon name="close-circle-outline" class="fab-button"></ion-icon></button>
        <button ion-fab color="pink" (click)="calculateDistance()" *ngIf="tracking"><ion-icon name="add-circle-outline" class="fab-button"></ion-icon></button>
        <button ion-fab color="safron" (click)="stopVoiceAlerts()" *ngIf="tracking"><ion-icon name="volume-off" class="fab-button"></ion-icon></button>
        <button ion-fab color="darkpink" (click)="startVoiceAlerts()" *ngIf="tracking"><ion-icon name="volume-up" class="fab-button"></ion-icon></button>
      </ion-fab-list>
    </ion-fab> -->
	</div>
</ion-content>
